#sheet{
    display:none;
}
#about{
    display:none;
}
#sheetWeapons{
    border-collapse: collapse;
    border: 1px solid black;
}
.sheetWeaponsData{
    border: 1px solid black;
}
#sheetAbilityScores{
    border-collapse: collapse;
    border: 1px solid black;
}
.sheetAbilityScoresData{
    border: 1px solid black; 
}

tr{
    font-weight:400;
}
th{
    border-collapse:collapse;
    border: 1px solid black;
}

#sheetSpells{
    display:none;
}

#sheetStats,#sheetSkills{
    border-collapse:collapse;
    border:1px solid black;
}
#about{
    width:50vw;
}
#inventory, #sheetClassAbility{
    width:30vw;
}
